weather_pred/data/*
weather_pred/trained_model/*
dataset/*
weather_pred/__pycache__/*
models/*
img_detect/yolov5/*
tools/data/*

*.pyc

*.pth
*.onnx
*.plan
*.pt
*.pkl
*.csv

*.jpg
*.png

*.zip
*.model
*.npy